.logo{
    width: 300px;
    height: 150px;
}
.registration
{

    width:50%;

    margin-left:28%;


}
.registration legend{
    text-align:center;
}
.fab
{
    margin-left: 25%;
}
.showError{
    border-color: #a94442 !important;
    color: #a94442 !important;
    margin-bottom: 15px;
}
